<h1>Streak Week View</h1>

<%= habit.content %>

<% const currentMonth = new Date().toLocaleString('default', { month: 'long' }); %>
<h2><%= currentMonth %></h2>

<form action="update/dates" method="post">
  <input type="text" name="habitID" value="<%= habit.id %>">
  <table>
    <tr>
      <% let habitStreak = 0; %>
      <% let currentStreak = 0; %>
      <% let longestStreak = 0; %>
      <% for(let i = 0; i < 7; i++) { %>
        <th>
          <%= getDayName(i) %> <br> <%= getDate(i) %>
          <br>
          <% const uniqueName = `checkbox_${i}`; %>
          <% const streakExists = streaks.find(streak => streak.habit._id.toString() === habit.id.toString()); %>
          <% const isCompleted = streakExists && streakExists.datesCompleted[i].completed; %>
          <% if (isCompleted) { %>
            <% habitStreak++; %>
            <% currentStreak++; %>
            <% if (currentStreak > longestStreak) { %>
              <% longestStreak = currentStreak; %>
            <% } %>
          <% } else { %>
            <% currentStreak = 0; %>
          <% } %>
          <input type="checkbox" name="<%= uniqueName %>" <% if (isCompleted) { %>checked<% } %>>
        </th>
      <% } %>
    </tr>
  </table>
  <p>Completed: <%= habitStreak %> / 7</p>
  <p>Longest Streak: <%= longestStreak %></p>
  <input type="submit" value="Submit">
</form>

<% function getDayName(index) { %>
  <% const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; %>
  <% const today = new Date(); %>
  <% const currentDayIndex = (today.getDay() + index) % 7; %>
  <% return days[currentDayIndex]; %>
<% } %>

<% function getDate(index) { %>
  <% const today = new Date(); %>
  <% today.setDate(today.getDate() + index); %>
  <% const date = today.getDate(); %>
  <% const month = today.getMonth() + 1; %>
  <% const year = today.getFullYear(); %>
  <% return `${date}/${month}/${year}`; %>
<% } %>
